# pip install -r requirements.txt




#----------------------------------
timm

pytorch-gradcam

albumentations

git+https://github.com/PhilippMarquardt/segmentation_models.pytorch.git

scikit-image

grad-cam

torchmetrics

tensorboard

ttach

tqdm

