# pip install -r requirements.txt




#----------------------------------

timm

pytorch-gradcam

albumentations

scikit-image

torchmetrics

tensorboard

ttach

grad-cam

git+https://github.com/JulienMaille/segmentation_models.pytorch.git
git+https://github.com/CoinCheung/pytorch-loss.git